@import '../../../mixins.scss';

:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
  align-items: center;
  padding: 8px;
}

.subscriber-card__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.subscriber-card__name {
  @include font-14-bold;
}