@if (profile) {
  <div class="profile-card">
    <div class="profile-card__avatar">
      <img 
        class="profile-card__avatar-img" 
        [src]="profile.avatarUrl | imgUrl" 
        [alt]="profile.lastName">
      <div class="profile-card__avatar-info">
        <strong class="title">{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span class="sub-title">{{ profile.username }}</span>
      </div>
    </div>
    <div class="profile-card__description">
      {{ profile.description }}
    </div>
    <div class="profile-card__tags">
      @for (skill of profile.stack; track skill) {
        <div class="profile-card__tags-item">{{ skill }}</div>
      }
    </div>
    <div class="profile-card__btn">
      <button class="btn">Подписаться</button>
    </div>
  </div>
}
