<div class="profile-card">
  <div class="profile-card__avatar">
    <img class="profile-card__avatar-img" src="../../../assets/img/avatar.png" alt="avatar">
    <div class="profile-card__avatar-info">
      <strong>Райан Гослинг</strong>
      <span>ryan.gosling</span>
    </div>
  </div>
  <div>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</div>
  <div class="profile-card__tags">
    <div class="profile-card__tags-item">Angular</div>
    <div class="profile-card__tags-item">Angular</div>
    <div class="profile-card__tags-item">Angular</div>
    <div class="profile-card__tags-item">Angular</div>
    <div class="profile-card__tags-item">Angular</div>
    <div class="profile-card__tags-item">Angular</div>
  </div>
  <div>
    <button class="btn">Подписаться</button>
  </div>
</div>
