<img src="assets/img/svg/logo-small.svg" alt="Logo" class="sidebar__logo"/>

<nav>
  <ul class="sidebar__list">
    <li>
      <button class="sidebar__btn">
        <img src="assets/img/svg/home.svg" alt="icon home"/>
        <span>Моя страница</span>
      </button>
    </li>
    <li>
      <button class="sidebar__btn">
        <img src="assets/img/svg/chats.svg" alt="icon chats"/>
        <span>Чаты</span>
      </button>
    </li>
    <li>
      <button class="sidebar__btn">
        <img src="assets/img/svg/search.svg" alt="icon search"/>
        <span>Поиск</span>
      </button>
    </li>
  </ul>
</nav>
