<form 
  [formGroup]="form" 
  (ngSubmit)="onSubmit($event)"
  class="login-form"
  >
  <h1 class="login-form__title">Вход</h1>

  <label class="login-form__label">
    Telegram username
    <input 
      formControlName="username"
      type="text" 
      placeholder="Введите логин" 
      class="login-form__label-input"
      autocomplete="off"
      />
  </label>

  <label class="login-form__label">
    Пароль
    <input 
      formControlName="password"
      type="password" 
      placeholder="Введите пароль" 
      class="login-form__label-input"
      autocomplete="off"
      />
  </label>

  <button class="btn" type="submit">Войти</button>
</form>

<div>
  <img src="/assets/img/svg/logo-big.svg" alt="logo"/>
</div>
