<form class="login-form">
  <h1 class="login-form__title">Вход</h1>

  <label class="login-form__label">
    Telegram username
    <input 
      type="text" 
      placeholder="Введите логин" 
      class="login-form__label-input"
      autocomplete="off"
      />
  </label>

  <label class="login-form__label">
    Пароль
    <input 
      type="password" 
      placeholder="Введите пароль" 
      class="login-form__label-input"
      autocomplete="off"
      />
  </label>

  <button class="btn">Войти</button>
</form>

<div>
  <img src="/assets/img/svg/logo-big.svg" alt="logo"/>
</div>
