@import 'fonts.scss';

$dark-color: #000000;
$light-color: #ffffff;

:root {
  --light-color: #ffffff;
  --primary-color: #AE7AFF;
  --dark-color: #000000;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: $dark-color;
  color: $light-color
}

.btn {
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  line-height: 24px;
}

.subTitle {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}