@import 'fonts.scss';

$dark-color: #000000;
$light-color: #ffffff;

:root {
  --light-color: #ffffff;
  --primary-color: #AE7AFF;
  --dark-color: #000000;
  --dark-hover-color: rgba(22, 22, 22, 1);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: $dark-color;
  color: $light-color;
  background-image: url('/assets/img/main-background.jpg');
}

.btn {
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}